USE [master]
GO
/****** Object:  Database [Company]    Script Date: 10-Apr-22 4:27:26 PM ******/
CREATE DATABASE [Company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL1200\MSSQL\DATA\Company.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL1200\MSSQL\DATA\Company_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company]
GO
/****** Object:  Table [dbo].[tblDepartmentMaster]    Script Date: 10-Apr-22 4:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartmentMaster](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[Department] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblDepartmentMaster] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 10-Apr-22 4:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[ID] [int] IDENTITY(103,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Location] [nchar](10) NULL,
	[Salary] [int] NULL,
	[DeptId] [int] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 10-Apr-22 4:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserName] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestDataMaster]    Script Date: 10-Apr-22 4:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDataMaster](
	[TestId] [bigint] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TestDataMaster] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10-Apr-22 4:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblDepartmentMaster] ON 

INSERT [dbo].[tblDepartmentMaster] ([DeptId], [Department]) VALUES (1, N'IT')
INSERT [dbo].[tblDepartmentMaster] ([DeptId], [Department]) VALUES (2, N'HR')
INSERT [dbo].[tblDepartmentMaster] ([DeptId], [Department]) VALUES (3, N'Sales')
SET IDENTITY_INSERT [dbo].[tblDepartmentMaster] OFF
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([ID], [Name], [Location], [Salary], [DeptId], [Email]) VALUES (106, N'SUJIWWWW', N'LKO       ', 81717, 1, N'SUJIWWWW@gmail.com')
INSERT [dbo].[tblEmployee] ([ID], [Name], [Location], [Salary], [DeptId], [Email]) VALUES (109, N'Jayesh', N'Barabanki ', 8000, 6, N'Jayesh@gmail.com')
INSERT [dbo].[tblEmployee] ([ID], [Name], [Location], [Salary], [DeptId], [Email]) VALUES (110, N'Mohit', N'BBK       ', 818181, 2, N'Mohit@gmail.com')
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
INSERT [dbo].[tblUsers] ([UserName], [Password]) VALUES (N'q', N'q')
INSERT [dbo].[tblUsers] ([UserName], [Password]) VALUES (N'a', N'a')
INSERT [dbo].[TestDataMaster] ([TestId], [Name]) VALUES (0, N'Name 0')
INSERT [dbo].[TestDataMaster] ([TestId], [Name]) VALUES (1, N'Name 1')
INSERT [dbo].[TestDataMaster] ([TestId], [Name]) VALUES (2, N'Name 2')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (1, N'male', N'male', N'ajay@gmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (2, N'female', N'female', N'jaya@yahoo.in')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [fk_DeptId] FOREIGN KEY([DeptId])
REFERENCES [dbo].[tblDepartmentMaster] ([DeptId])
GO
ALTER TABLE [dbo].[tblEmployee] CHECK CONSTRAINT [fk_DeptId]
GO
USE [master]
GO
